<div class="container">
  <div class="row">
    <div class="span12">
    <div class="page-header">
        <h1>
        About Genome Match Maker
      </h1>
    </div>
    </div>
  </div>
 <div class="hr-divider"></div>
 <div class="">
   <h2>The Project</h2>
   <p>
     Genome Match Maker connects two pools of people: researchers exploring mutations
     in the human genome and consumers who have used direct-to-consumer genome
     testing services like 23 And Me and are interested in being a part of
     scientific research.
   </p>
   <p>
     Participants just have to connect their GMM account with 23 and Me, while
     researchers create listings for their research studies, including what
     mutations they need. In genetic parlance, these mutations are SNPs, or
     single nucleotide polymorphisms, variations in just one nucleotide. 23 and
     Me currently tests over a million of these SNPs.
   </p>
   <h2>~~ Meta ~~</h2>
   <p>
     This project was created as a project for the
     Turing School of Software and Design. The challenge was to incorporate
     several technologies in using a 3rd party API and authentication process.
   </p>
   <p>
     In particular, this project allowed me to:
     <ul>
       <li>Write my own oauth method for 23 and Me's API</li>
       <li>Implement background workers both in development and on Heroku, which
       equate to different processes</li>
       <li>Learn how to import and scale million+ rows in a database</li>
       <li>Implement caching</li>
       <li>Config and use Redis and Sidekiq</li>
       <li>Use AJAX to provide dynamic feedback while filling out a form</li>
       <li>Serve an internal API for the AJAX to consume, providing information
       that wasn't available through 23 and Me's API</li>
     </ul>
   </p>


 </div>
