<div class="container">
	<div class="row">
		<div class="span12">
		<div class="page-header">
				<h1>
				Genome Match Maker
			</h1>
		</div>
		</div>
	</div>

  <div class="row">
		<div class="span6 signup-participant">
		<div class="media">
      <%= image_tag "DNA.png", class: "pull-left media-object" %>
				<div class="media-body">
					<h3 class="media-heading">
						Know your genome? Participate!
					</h3>
					<p>You've had your genome typed through direct-to-consumer services
            like 23 and Me. But you're interested in learning more, and being a
            part of the scientific process. Be a part of meaningful, relevant
            scientific studies without exposing personal information.
					</p>
					<%= render partial: "partials/auth_link" %>
				</div>
			</div>
		</div>


		<div class="span6 signup-researcher">
  		<div class="media">
        <%= image_tag "test_tubes.png", class: "pull-right media-object" %>
				<div class="media-body">
					<h3 class="media-heading">
						Researcher? Find participants!
					</h3 >
					<p>You're a researcher in the biological sciences who's looking for a new
            way to create blind, anonymous participant groups who have the genetic
            mutations you need for your project. Find those users today.
					</p>
          <%= link_to "Create Researcher Account", new_researcher_user_path, class: "btn" %>
        </div>
			</div>
		</div>
