---
http_interactions:
- request:
    method: post
    uri: https://api.23andme.com/token
    body:
      encoding: US-ASCII
      string: client_id=fa14c16e8d247c33723730c697802dd9&client_secret=0ff970b94a7ccdd3f44f5490787ea788&grant_type=authorization_code&code=552ba8a755ed4878afcd567230b0141b&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fand_me%2Fcallback&scope=basic+email+genomes+names
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "24f5626889e59fe2534317870a0c7464", "token_type":
        "bearer", "expires_in": 86400, "refresh_token": "b176f8c06ad03e2f63a3ef84c6c05a6d",
        "scope": "basic names email genomes"}'
  recorded_at: Sun, 24 Apr 2016 01:10:15 GMT
recorded_with: VCR 3.0.1
