---
http_interactions:
- request:
    method: post
    uri: https://api.23andme.com/token
    body:
      encoding: US-ASCII
      string: client_id=fa14c16e8d247c33723730c697802dd9&client_secret=0ff970b94a7ccdd3f44f5490787ea788&grant_type=authorization_code&code=117311b1980c7626e5020a943f2fa0d7&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fand_me%2Fcallback&scope=basic+haplogroups+email+ancestry+names+profile%3Aread+profile%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "25eb2fbf3e7ee4f14665a924ea9bd385", "token_type":
        "bearer", "expires_in": 86400, "refresh_token": "64905f443caed5c975450c912e6e1791",
        "scope": "profile:write haplogroups names ancestry basic email profile:read"}'
  recorded_at: Fri, 22 Apr 2016 05:49:59 GMT
recorded_with: VCR 3.0.1
