---
http_interactions:
- request:
    method: post
    uri: https://api.23andme.com/token
    body:
      encoding: US-ASCII
      string: client_id=fa14c16e8d247c33723730c697802dd9&client_secret=0ff970b94a7ccdd3f44f5490787ea788&grant_type=authorization_code&code=48deb47b3a030ab6e63e2e946b64a73f&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fand_me%2Fcallback&scope=basic+haplogroups+email+ancestry+names+profile%3Aread+profile%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "2c50d9a1c7e0736c68b686d512d58c47", "token_type":
        "bearer", "expires_in": 86400, "refresh_token": "afb1aaa75da46eaa9ea3630cf21117a2",
        "scope": "profile:write haplogroups names ancestry basic email profile:read"}'
  recorded_at: Wed, 20 Apr 2016 03:48:57 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - https://api.23andme.com/1/user/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 03:49:14 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_description": "Invalid token specified.", "error": "invalid_token"}'
  recorded_at: Wed, 20 Apr 2016 03:49:14 GMT
recorded_with: VCR 3.0.1
