---
http_interactions:
- request:
    method: get
    uri: https://api.23andme.com/1/genotypes/b9e65773cfcdadfd/?locations=rs3094315
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35f25c3211be51d4bfb5a0fd67f42ec0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rs3094315": "AA", "id": "b9e65773cfcdadfd"}'
  recorded_at: Sun, 24 Apr 2016 01:10:32 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/genotypes/b9e65773cfcdadfd/?locations=garbage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 35f25c3211be51d4bfb5a0fd67f42ec0
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_description": "Invalid SNP: garbage", "error": "invalid_request"}'
  recorded_at: Sun, 24 Apr 2016 01:10:33 GMT
recorded_with: VCR 3.0.1
