---
http_interactions:
- request:
    method: post
    uri: https://api.23andme.com/token
    body:
      encoding: US-ASCII
      string: client_id=fa14c16e8d247c33723730c697802dd9&client_secret=0ff970b94a7ccdd3f44f5490787ea788&grant_type=authorization_code&code=78ac436116e0674a4e83d1ae8cc45e87&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fand_me%2Fcallback&scope=basic+email+genomes+names
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token": "28f792543c2bb9ea9bf417aea6d2f0a2", "token_type":
        "bearer", "expires_in": 86400, "refresh_token": "b9269f3a291153ad0fe920f2b0ae4f8f",
        "scope": "basic names email genomes"}'
  recorded_at: Thu, 28 Apr 2016 14:23:42 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 28f792543c2bb9ea9bf417aea6d2f0a2
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.23andme.com/1/user/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Apr 2016 14:23:43 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 28f792543c2bb9ea9bf417aea6d2f0a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": "f095cb38d4c563c9", "profiles": [{"genotyped": true, "id": "b9e65773cfcdadfd"}]}'
  recorded_at: Thu, 28 Apr 2016 14:23:44 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/?email=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 28f792543c2bb9ea9bf417aea6d2f0a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": "f095cb38d4c563c9", "profiles": [{"genotyped": true, "id": "b9e65773cfcdadfd"}],
        "email": "heidih@gmail.com"}'
  recorded_at: Thu, 28 Apr 2016 14:23:45 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 28f792543c2bb9ea9bf417aea6d2f0a2
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Apr 2016 14:23:47 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 28f792543c2bb9ea9bf417aea6d2f0a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "Heidi", "last_name": "Hoopes", "id": "b9e65773cfcdadfd"}'
  recorded_at: Thu, 28 Apr 2016 14:23:47 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 28f792543c2bb9ea9bf417aea6d2f0a2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "Heidi", "last_name": "Hoopes", "id": "b9e65773cfcdadfd"}'
  recorded_at: Thu, 28 Apr 2016 14:23:50 GMT
recorded_with: VCR 3.0.1
