---
http_interactions:
- request:
    method: get
    uri: https://api.23andme.com/1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - https://api.23andme.com/1/user/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 04:08:47 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": "f095cb38d4c563c9", "profiles": [{"genotyped": true, "id": "b9e65773cfcdadfd"}]}'
  recorded_at: Wed, 20 Apr 2016 04:08:47 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/?email=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": "f095cb38d4c563c9", "profiles": [{"genotyped": true, "id": "b9e65773cfcdadfd"}],
        "email": "heidih@gmail.com"}'
  recorded_at: Wed, 20 Apr 2016 04:08:48 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Location:
      - https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 04:08:49 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "Heidi", "last_name": "Hoopes", "id": "b9e65773cfcdadfd"}'
  recorded_at: Wed, 20 Apr 2016 04:08:50 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - __builtin__:__call__.close
      Location:
      - https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 04:08:51 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2703f521e98f18f434e61f13123fa140
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "Heidi", "last_name": "Hoopes", "id": "b9e65773cfcdadfd"}'
  recorded_at: Wed, 20 Apr 2016 04:08:51 GMT
recorded_with: VCR 3.0.1
