---
http_interactions:
- request:
    method: get
    uri: https://api.23andme.com/1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.23andme.com/1/user/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 06:12:48 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": "f095cb38d4c563c9", "profiles": [{"genotyped": true, "id": "b9e65773cfcdadfd"}]}'
  recorded_at: Fri, 22 Apr 2016 06:12:48 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user/?email=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id": "f095cb38d4c563c9", "profiles": [{"genotyped": true, "id": "b9e65773cfcdadfd"}],
        "email": "heidih@gmail.com"}'
  recorded_at: Fri, 22 Apr 2016 06:12:49 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - __builtin__:__call__.close
      Location:
      - https://api.23andme.com/1/user/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 06:12:49 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Apr 2016 06:12:50 GMT
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "Heidi", "last_name": "Hoopes", "id": "b9e65773cfcdadfd"}'
  recorded_at: Fri, 22 Apr 2016 06:12:50 GMT
[...]
- request:
    method: get
    uri: https://api.23andme.com/1/names/b9e65773cfcdadfd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f8b7ad0e4a4283185390b47bc4124740
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"first_name": "Heidi", "last_name": "Hoopes", "id": "b9e65773cfcdadfd"}'
  recorded_at: Fri, 22 Apr 2016 06:12:51 GMT
recorded_with: VCR 3.0.1
