<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="span6">Copyright &copy 2016 Heidi Hoopes | All Rights Reserved  <br>
        <small>She's an awesome web developer.</small>
        </div>
        <!-- <div class="span6">
            <div class="social pull-right">
                <a href="#"><img src="img/social/googleplus.png" alt=""></a>
                <a href="#"><img src="img/social/dribbble.png" alt=""></a>
                <a href="#"><img src="img/social/twitter.png" alt=""></a>
                <a href="#"><img src="img/social/dribbble.png" alt=""></a>
                <a href="#"><img src="img/social/rss.png" alt=""></a>
            </div>
        </div> -->
      </div>
    </div>
</footer>
