<header>
  <div class="navbar navbar-top">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Genome Match Maker", root_path %>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>

          <% if current_user %>
            <li class ="navbar-text"> <%= "Welcome, " + current_user.full_name %></li>
            <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
